<div>
    <div>
        <span class="rightTitle">LGS: </span><span class="leftInformation">{{LGS}}</span>
    </div>
    <div>
        <span class="rightTitle">Event name: </span><span class="leftInformation">{{eventName}}</span>
    </div>
    <div>
        <span class="rightTitle">Date: </span><span class="leftInformation">{{date}}</span>
    </div>
    <div>
        <span class="rightTitle">Token: </span><span class="leftInformation">{{token}}</span>
    </div>
    <div>
        <span class="rightTitle">Format: </span><span class="leftInformation">{{format}}</span>
    </div>
    <div>
        <span class="rightTitle">Password: </span><span class="leftInformation">{{password}}</span>
    </div>
    <div>
        <span class="rightTitle">link: </span><span className="leftInformation"><a href={{link}}>{{link}}</a></span>
    </div>
</div>

